doctype
html(lang='ru', class=`${large ? 'large' : ''}${iframe ? 'iframe' : ''} theme-${theme.name}`)
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Заявка в Slack-пространство #{name}

    link(rel='shortcut icon', href=`${path}assets/favicon-32.png`)
    link(rel='stylesheet', href=`${path}assets/main.css`)
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css')

    if css
      link(rel='stylesheet', href=css)

    //- if theme.accent
      style
        | html .splash .active { color: #{theme.accent}; }
        | html .splash p.signin a { color: #{theme.accent}; }
        | html .splash p.signin a:hover { background-color: #{theme.accent}; }
        | html .splash button { background-color: #{theme.accent}; }
        | html .splash button:not(.disabled):active { background-color: #{theme.accentDark}; }

    if analytics
      script(async, src=`https://www.googletagmanager.com/gtag/js?id=${analytics}`)
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '#{analytics}');

  body.container.pt-5
    .text-center

      h1.h1.mb-4 Подключение в Slack-пространство #{name}

      .row.justify-content-center
        .col.col-md-9.text-start
          p Почта, которую зарегистрировали на #[a(href='https://ru.hexlet.io', rel='noopener', target='_blank') Хекслете]

          form.mb-5#invite
            if channels
              if channels.length > 1
                select.form-select.mb-3(name='channel')
                  each channel in channels
                    option(value=channel, text=channel)
              else
                input(type='hidden', name='channel', value=channels[0])

            .row
              .col
                input.form-control.mb-3.w-100(type='email', name='email', placeholder='email на Хекслете', autofocus, required)
              .col-12.col-sm-4.col-lg-3
                button.btn.btn-primary.w-100 Оставить заявку

            if recaptcha.sitekey
              if recaptcha.invisible
                div#h-captcha.g-recaptcha(
                  data-sitekey=recaptcha.sitekey,
                  data-callback='invisibleCallback',
                  data-size='invisible')
              else
                br
                div.g-recaptcha(data-sitekey=recaptcha.sitekey, data-theme=theme.recaptcha)

          .border-start.border-3.border-info.mb-3
            p.fs-5.ps-3.m-0 После оставления заявки вы попадёте на страницу с инструкцией. Прочитайте её, она расскажет, зачем скоро понадобится VPN и настольный компьютер / ноутбук

          p.fs-4 Почему нужно регистрироваться?

          ul.list-unstyled.mb-5.ms-3
            li.border-bottom.border-1.pb-2.mb-2 1. Это пространство предназначено только для действующих студентов. Здесь не будут появляться сомнительные личности и вестись беседы на неуместные темы
            li.border-bottom.border-1.pb-2.mb-2 2. Это удобный мессенджер, вокруг которого мы построили процесс обучения. Многие вещи будут происходить именно в Slack. Если ранее вы им не пользовались, мы обучим
            li 3. Даже если вы ранее регистрировались в другом пространстве, нужно заново пройти регистрацию. Slack не имеет общего аккаунта. Новое пространство — новая регистрация

        //- if coc
          .coc
            label
              input(type='checkbox', name='coc', value='1', required)
              | I agree to the #[a(href=coc, rel='noopener', target='_blank') Code of Conduct].

      .text-start
        .h2.mb-4 Инструкция по входу в Slack-пространство #{name}
        .border-start.border-3.border-info.mb-5
          p.fs-5.ps-3.m-0 Сохраните ссылку на эту страницу, чтобы в любой момент вернуться и посмотреть инструкцию

        .h3.mb-4 Как принять приглашение
        .row.row-cols-1.row-cols-sm-2.gy-2.border-bottom.border-1.pb-3.mb-3
          .col
            .fs-4.text-center.mb-3.d-none.d-sm-block Что делать
            .fs-5 1. Дождитесь письма от Slack, там будет кнопка «Присоединиться», но не спешите её нажимать. Прочитайте всё, что написано ниже.
          .col
            .fs-4.text-center.mb-3.d-none.d-sm-block Почему так
            .ps-3.ps-sm-0 Ваша заявка отправлена на модерацию. Обычно мы рассматриваем их быстро, но этот процесс может занять до суток. Пока вы ожидаете письма, изучите эту инструкцию.

        .row.row-cols-1.row-cols-sm-2.gy-2.border-bottom.border-1.pb-3.mb-3
          .col
            .fs-5 2. Понадобится ноутбук или настольный ПК. Приглашение нужно принимать только с компьютера.
          .col
            .ps-3.ps-sm-0 При попытке принять приглашение с телефона вы можете получить ошибку «В вашем приглашении что-то не так». Это ошибка в работе самого Slack.

        .row.row-cols-1.row-cols-sm-2.gy-2.border-bottom.border-1.pb-3.mb-5
          .col
            .fs-5 3. Включите VPN или используйте прокси, если вы из России. Инструкция по использованию прокси располагается ниже.
          .col
            .ps-3.ps-sm-0 С февраля 2022 года Slack ограничил регистрацию новых пользователей из РФ, в том числе любых пользователей с почты #[code @rambler.ru ] и других российских сервисов. Это ограничение действует только на этапе регистрации, потом Slack будет доступен без VPN.

        .h3.pt-4.mb-4#by-step Пошаговая регистрация

        .border-start.border-3.border-warning.mb-5
          p.ps-3.m-0 Используйте актуальную версию браузера Google Chrome, особенно, если получаете непонятные ошибки. Зачастую старенький Safari или даже свежий Яндекс.Браузер ломаются в самых неожиданных местах, самым неожиданным образом.

        .border-bottom.border-1.pb-3.mb-3
          .row.px-4
            .col-12.col-lg-6.col-xl-4.gy-3
              .fs-5.mb-3 Видео Инструкция
              iframe(width='100%' height='315' src='https://www.youtube.com/embed/WEi91FpWj7o' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
              .small.mt-3 Сервис из видео: #[a(href='https://www.croxyproxy.com/') CroxyProxy]
            .col
              .fs-5.mb-3 Текстовая инструкция
              .mb-2 1. Вам придёт такое письмо от Slack:
              .text-center.mb-3
                a(href=`${path}assets/images/email.png` target='_blank')
                  img(src=`${path}assets/images/email.png` width='50%' alt='Письмо с приглашением')
              .mb-2 Если письмо не приходит в течение суток, проверьте, что оно не было случайно прочитано и не попало в спам.

        .border-bottom.border-1.pb-3.mb-3
          .px-4
            p.mb-2 2. Откройте письмо с компьютера, нажмите кнопку #[span(class='badge text-bg-danger bg-opacity-10 text-black fs-6 fw-normal') Присоединиться] или #[span(class='badge text-bg-danger bg-opacity-10 text-black fs-6 fw-normal') Join now].
            p Если получите ошибку «Новые деловые партнёрства не заключаются» или «Closed for new business»:
            .text-center.mb-3
              a(href=`${path}assets/images/close_for_new.png` target='_blank')
                img(src=`${path}assets/images/close_for_new.png` width='50%' alt='Письмо с приглашением')
            p Это значит, что вам нужно использовать VPN или прокси. Включите VPN и перейдите по ссылке ещё раз. При отсутствии VPN посмотрите следующий шаг.

        .border-bottom.border-1.pb-3.mb-3
          .px-4
            p.mb-3 3. Использование прокси для подтверждения аккаунта

            .accordion.mb-3#step-3
              .accordion-item
                h2.accordion-header#headingOne
                  button.accordion-button.bg-primary.bg-opacity-10(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='false' aria-controls='collapseOne') Этот шаг надо выполнять только при отсутствии VPN и наличии ошибки при регистрации в Slack
                .accordion-collapse.collapse#collapseOne(aria-labelledby='headingOne', data-bs-parent='#step-3')
                  .accordion-body
                    ol.list-unstyled
                      li.mb-3 Заберите из письма ссылку на инвайт. Сделать это можно, кликнув правой клавишей по кнопке и выбрать «Копировать ссылку»
                        .text-center.mb-3
                          a(href=`${path}assets/images/menu.png` target='_blank')
                            img(src=`${path}assets/images/menu.png` width='50%' alt='Письмо с приглашением, копирование ссылки')

                      li.mb-3 Вставьте скопированную ссылку в сервис #[a(href='https://www.croxyproxy.com/') CroxyProxy] и нажмите «идти»
                        .text-center.mb-3
                          a(href=`${path}assets/images/proxy.png` target='_blank')
                            img(src=`${path}assets/images/proxy.png` width='50%' alt='Использование CroxyProxy')

                        p Откроется форма регистрации в Slack, переходите к следующему шагу.


        .border-bottom.border-1.pb-3.mb-3
          .px-4
            p.mb-3 4. У вас откроется страница регистрации в новое пространство Slack. Выбирайте удобный для себя способ и создавайте аккаунт.
            .text-center.mb-3
              a(href=`${path}assets/images/regist.png` target='_blank')
                img(src=`${path}assets/images/regist.png` width='50%' alt='Создание аккаунта в Slack')

            p.mb-3 Slack будет предлагать установить приложение, но это необязательно. Можно найти кнопку «использовать в браузере».
            .text-center.mb-3
              a(href=`${path}assets/images/download_app.png` target='_blank')
                img(src=`${path}assets/images/download_app.png` width='50%' alt='Как использовать Slack в браузере')

        .border-bottom.border-1.pb-3.mb-5
          .px-4
            p.mb-3 5. Slack будет настойчиво предлагать пройти знакомство с интерфейсом, нажать какие-то кнопки и прочитать всякую информацию. Настойчиво отказывайтесь, ищите кнопки «Закрыть», «Пропустить», «I’ll do this later» и всё подобное. В чат группы вас добавят за день до старта Подготовительного курса. Чат появится во вкладке «Каналы»
            .text-center.mb-3
              a(href=`${path}assets/images/environment.png` target='_blank')
                img(src=`${path}assets/images/environment.png` width='50%' alt='Как использовать Slack в браузере')

            p.mb-0 Готово, вы прекрасны! На этом этап регистрации завершается, можно войти в Slack без прокси или VPN и начать учёбу.

        .border-start.border-3.border-success.mb-5
          p.fs-5.ps-3.m-0 Если вы никогда не работали в Slack, не переживайте. На нашем первом вебинаре мы расскажем о том, как им пользоваться 🤗

        .accordion.mb-5#useful-links
          .accordion-item
            h2.accordion-header#headingOne
              button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='false' aria-controls='collapseOne') Полезные ссылки, чтобы скоротать время
            .accordion-collapse.collapse#collapseOne(aria-labelledby='headingOne', data-bs-parent='#useful-links')
              .accordion-body
                .border-bottom.border-1.pb-2.mb-2
                  a.ps-2(href='https://help.hexlet.io/ru/articles/280584-sistemnye-trebovaniya' target='_blank') Системные требования к железу и ПО
                .border-bottom.border-1.pb-2.mb-2
                  a.ps-2(href='https://help.hexlet.io/ru/articles/110060-gruppovoi-plan' target='_blank') Групповое обучение
                .border-bottom.border-1.pb-2.mb-2
                  a.ps-2(href='https://help.hexlet.io/ru/articles/111465-cto-takoe-proekty' target='_blank') Что такое проекты
                .border-bottom.border-1.pb-2.mb-2
                  a.ps-2(href='https://help.hexlet.io/ru/articles/172515-karernyi-trek' target='_blank') Карьерный трек
                .border-bottom.border-1.pb-2.mb-2
                  a.ps-2(href='https://www.youtube.com/c/HexletOrg/videos' target='_blank') Наш канал на YouTube

      .pt-4
        footer.pt-4.border-top.border-2
          p.px-4.mb-5 Если всё непонятно, ничего не работает, приглашения не дали, никакого праздника, то напишите на #[a(href='mailto:support@hexlet.io', class='text-transform-none' rel='noopener', target='_blank') support@hexlet.io] — расскажите что случилось, приложите скриншоты, укажите версию ОС и браузера.

      //- unless iframe
        footer powered by #[a(href='https://github.com/emedvedev/slackin-extended', rel='noopener', target='_blank') slackin extended]

      script
        | data = {};
        | data.path = !{JSON.stringify(path)};
        if recaptcha.sitekey && recaptcha.invisible
        | function invisibleCallback(token) {
        |   return submitForm();
        | }

      script(src='https://www.google.com/recaptcha/api.js', async, defer)
      script(src='https://cdn.jsdelivr.net/npm/socket.io@4/client-dist/socket.io.min.js')
      script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js')
      script(src=`${path}assets/superagent.min.js`)
      script(src=`${path}assets/client.js`)
